.non_a {
  color: black;
  text-decoration: none;
}

.non_a:hover {
  color: #34c5f0;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.box {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.box::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera*/
}

.header {
  background-color: #ffffff;
  letter-spacing: -.4px;
}

.header_main {
  display: flex;
  align-items: center;
  /* background-color: beige; */
  /* background-color: green; */
  border-bottom: 1px solid #eaedef;
  /* position: fixed; */
  max-width: 1256px;
  justify-content: space-between;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px 60px;
}

.logo {
  margin-right: 35px;
}

.nmc {
  margin: 0 10px;
  padding: 21px 5px 15px;
}

.nmc_1 {
  margin: 0 10px;
  padding: 21px 5px 15px;
  font-weight: lighter;
}

.header_input {
  border-radius: 5px;
  width: 286px;
  height: 40px;
  border: 1px solid;
  margin: 0 50px;
  color: #34c5f0;
}

.section-grid {
  display: grid;
  grid-template-columns: 25fr 50fr 25fr;
}

.user-wrap {
  width: 100%;
  margin: 10px auto;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
}

.user-wrap img {
  width: 100%;
  vertical-align: middle;
}

.user-text {
  position: absolute;
  bottom: -5px;
  width: 100%;
  font: size 36px;
  font-family: 'card';
}

/* star-rating */
.star-ratings {
  color: #aaa9a9;
  position: relative;
  unicode-bidi: bidi-override;
  width: max-content;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #a0a0a0;
}

.star-ratings-fill {
  color: #82E0FA;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-text-fill-color: #35C5F0;
}

.star-ratings-base {
  z-index: 0;
  padding: 0;
}

/* 동적 별점 */
.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.5rem;
  line-height: 2.5rem;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em;
  margin-left: 30px;
}

.star-rating input {
  display: none;
}

.star-rating label {
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: #a0a0a0;
  cursor: pointer;
}

.star-rating :checked~label {
  -webkit-text-fill-color: #35C5F0;
}

.star-rating label:hover,
.star-rating label:hover~label {
  -webkit-text-fill-color: #82E0FA;
}

/* article detail */
.title-banner {
  position: relative;
}

.title-text {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  transform: translate(-50%, -50%);
}

.comment-input {
  border: 0px solid #34c5f0;
}

.comment-input:focus {
  border: 1px solid #34c5f0;
  border-radius: 10px;
}

.contentcard:hover {
  border-radius: 15px;
  transform: translateY(-10px);
  transition: all ease-in-out .3s;
  box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 9%);
}