.non_a {
  color: black;
  text-decoration: none;
}

.non_a:hover {
  color: #34c5f0;
}

.header {
  position: sticky;
  top: 0px;
  width: auto;
  height: 80px;
  background-color: #ffffff;
  letter-spacing: -.4px;
}

.header_main {
  display: flex;
  align-items: center;
  /* background-color: beige; */
  /* background-color: green; */
  border-bottom: 1px solid #eaedef;
  /* position: fixed; */
  max-width: 1256px;
  justify-content: space-between;
  height: 80px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px 60px;
}

.logo {
  margin-right: 35px;
}

.nmc {
  margin: 0 10px;
  padding: 21px 5px 15px;
}

.nmc_1 {
  margin: 0 10px;
  padding: 21px 5px 15px;
  font-weight: lighter;
}

.header_input {
  border-radius: 5px;
  width: 286px;
  height: 40px;
  border: 1px solid;
  margin: 0 50px;
  color: #34c5f0;
}

.section-grid {
  display: grid;
  grid-template-columns: 25fr 50fr 25fr;
}

.user-wrap {
  width: 100%;
  margin: 10px auto;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url("https://mblogthumb-phinf.pstatic.net/20151217_196/tamanoa_14503391844435U1wV_JPEG/%C5%FC%C5%FC%C0%CC_1.jpg?type=w2");
}

.user-wrap img {
  width: 100%;
  vertical-align: middle;
}

.user-text {
  position: absolute;
  bottom: 5px;
  left: 20px;
  width: 100%;
  font: size 36px;
  font-family: 'card';
  text-align: conter;
}