{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="section-grid mt-5 p-5">

    <div class="profile">
      <div class="p-4 mt-2 mb-5 contentcard" style="border-radius: 15px; ">
        <div class="">
          <h2 class="mx-3">{{ person.username }}</h2>
          <div class="row">
            <div class="col d-flex flex-column align-items-center">
              <p class="mb-1">팔로워</p>
              <p>{{ person.followers.count }}</p>
            </div>
            <div class="col d-flex flex-column align-items-center border-start">
              <p class="mb-1">팔로잉</p>
              <p>{{ person.followings.count }}</p>
            </div>
            <div class="col d-flex flex-column align-items-center border-start">
              <p class="mb-1">리뷰</p>
              <p>{{ person.followings.all.count }}</p>
            </div>
          </div>
        </div>
      </div>
      {% if person.username == user.username %}
      {% else %}
        <div>
          <form action="{% url 'accounts:follow' person.pk %}" method='POST'>
            {% csrf_token %}
            {% if user in person.followers.all %}
              <input type="submit" value='팔로우 취소'>
            {% else %}
              <input type="submit" value='팔로우'>
            {% endif %}
          </form>
        </div>
      {% endif %}
    </div>
  </div>

{% endblock %}