{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}

  <div class="container my-5" style="width: 700px">
    <div class="p-4" style="box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 9%); border-radius: 15px;">
      <form class="p-5" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class=" d-flex justify-content-end">
          <input class="btn" style="color: #33c4f0;" type="submit" value="작성완료"></input>
        </div>
        <h2><input class="input-title form-control mb-3" style="border:0px; font-size: 1.5rem;" name="title" placeholder="제목을 입력해주세요." value="{{ article.title }}"></h2>
        <hr>
        <textarea rows="40" cols="10" class="form-control mt-3" style="border:0px" name="content" placeholder="내용을 입력해주세요.">{{ article.content }}</textarea>
        <input type="file" id="image" name="image" accept="image/png, image/jpeg, image/jpg">
      </form>
    </div>
  </div>
{% endblock %}