{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container section-grid px-2 my-4" style="max-width: 1512px;">
  <aside class="box mt-3" style="overflow-y: scroll; height: calc(100vh - 60px);">
    <h2 class="mb-3 mx-3" style="font-size: 14px; color: #8b95a1">오늘 많이본 상품</h2>
    {% for product in products %}
    <a class="non_a" href="{% url 'products:detail' product.id %}">
      <div class="card m-3" style="width:287px; border-radius: 15px; border: 0px;">
        <div class="cart-head" style="width: 287px; height: 287px; border-radius: 15px 15px 0 0;">
          <img src="{{product.product_image.url}}" class="card-img-top" alt="..."
            style="object-fit:cover; width: 100%; height: 100%; border-radius: 15px 15px 0 0;">
        </div>
        <div class="card-body">
          <p class="m-0 text-muted" style="font-size: 14px;">{{ product.brand }}</p>
          <h4 class="mb-1" style="font-size: 16px">{{ product.title }}</h4>
          <p class="m-0" style="font-size: 18px; font-weight:700; color: #33c4f0;">
            {{ product.price|intcomma }}원</p>
          <p class="m-0" style="color: #33c4f0;">★
            <span style="color: rgb(76, 76, 76)">{{ grade_avg.grade_avg__avg|floatformat }}</span>
          </p>
        </div>
      </div>
    </a>
    {% endfor %}
  </aside>

  <section class="box section-center mt-3" style="overflow-y: scroll; height: calc(100vh - 60px);">
    <h2 class="mb-3 mx-3" style="font-size: 14px; color: #8b95a1">인테리어 후기</h2>
    {% for article in articles %}
    <a class="non_a" href="{% url 'articles:detail' article.pk article.slug %}">
      <div class="user-wrap mt-5" style="width: 100%; height: 450px;">
        <div class="user-text px-4 mt-0">
          {% if article.image %}
          <!-- title -->
          <div class="user-image mx-4 py-3">
            <img class="contentcard" style="height: 350px; border-radius: 15px; object-fit: cover;"
              src="{{ article.image.url }}" alt="">
          </div>
          {% else %}
          <div class="contentcard d-flex align-items-center justify-content-center mx-4 mb-3"
            style="background-color: rgb(35, 35, 35);width: 652px; height: 200px; border-radius: 15px;">
            <p class="non_a text-white" style="font-weight: 200;">이미지가 없습니다.</p>
          </div>
          {% endif %}
          <div class="px-4">
            <a href="{% url 'articles:detail' article.pk article.slug %}" class="non_a">
              <span class="fs-2 fw-bold">{{article.title}}</span>
            </a>
            <!-- username/ create_at -->
            <p class="mb-0" style="font-weight: 200;">{{ article.user }}</p>
            <p class="mb-0" style="font-weight: 200;">{{ article.created_at }}</p>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </section>
  <aside class="box mt-3 px-4" style="overflow-y: scroll; height: calc(100vh - 60px);">
    <h2 class="mb-3 mx-3" style="font-size: 14px; color: #8b95a1">오늘 많이본 아티클</h2>
    {% for article_hit in articles_hits %}
    <a class="non_a" href="{% url 'articles:detail' article_hit.pk article_hit.slug %}">
      <div class="user-wrap mt-5" style="width: 100%; height: 250px;">
        <div class="user-text px-4 mt-0">
          {% if article.image %}
          <!-- title -->
          <div class="user-image mx-4 py-3">
            <img class="contentcard" style="height: 250px; width:100%; border-radius: 15px; object-fit: cover;"
              src="{{ article_hit.image.url }}" alt="">
          </div>
          {% else %}
          <div class="contentcard d-flex align-items-center justify-content-center mx-4 mb-3"
            style="background-color: rgb(35, 35, 35);width: 100%; height: 200px; border-radius: 15px;">
            <p class="non_a text-white" style="font-weight: 200;">이미지가 없습니다.</p>
          </div>
          {% endif %}
          <div class="px-4">
            <a href="{% url 'articles:detail' article_hit.pk article_hit.slug %}" class="non_a">
              <span class="txt_line card-text" style="font-weight: 700;">{{article_hit.title}}</span>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
  </aside>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}